IsaacLab/
*.ply

__pycache__
*.pth
*.ckpt
*.pt
*.mp4
*.jpg
assets/scenes/Materials/*
assets/scenes/SkyTexture/*
assets/scenes/embodiedscan/*
assets/scenes/cluttered_easy/*
!evaluation_outputs/
!evaluation_outputs/**